.story-container {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

/* lol */
.story-container > div > div:nth-child(2) > div {
  background-color: black;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.story-container > div:nth-child(2) > div:nth-child(2)  * {
  height: inherit;
}

.play-story {
  width: 175px;
  height: 175px;
  line-height: 175px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
}

.play-story svg {
  -webkit-mask-image: linear-gradient(to bottom, rgba(76,170,216, 0), rgba(76,170,216, 1));
  mask-image: linear-gradient(to bottom, rgba(76,170,216, 0), rgba(76,170,216, 1));
}
/*
.play-story.loading {
  background-color: #333;
}

.play-story.error {
  background-color: #911;
}
*/

.story-page {
  margin-top: 75px;
}

.story-content {
  margin-top: 75px;
}

.throbber {
  text-align: center;
  font-size: 2rem;
  color: #aaa;
}

.notes {
  font-style: italic;
  margin: 30px 30px;
}

.close {
  background: none;
  border: none;
  position: absolute;
  z-index: 1000;
  top: 30px;
  right: 10px;
  opacity: 0.5;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
}

.story-content ol {
  list-style: none;
  margin: 0px;
  padding: 5px;
}
